label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  margin: 3px 0;
  z-index: 999;
}

.cardWrapper {
  z-index: 999;
}
.card {
  width: 300px;
  height: 450px;
}
.media {
  height: 220px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.star {
  color: gold;
}

.categories {
  font-size: 14px;
}
.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

form {
  width: 210px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(88, 87, 87);
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  border: none;
  border-bottom: 1px solid gray;
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.buttons,
.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

@media screen and (max-width: 480px) {
  .card {
    width: 200px;
    height: 350px;
  }
  .media {
    height: 130px;
  }
  form {
    width: 210px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(88, 87, 87);
  }
}
