.feed {
  width: 60%;
  margin: 5% 0 0 15%;
}

.searchbar {
  width: 70%;
  margin: 0 auto;
  height: 30px;
  background-color: white;
  border: solid 3px teal;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 15px;
}

.searchIcon {
  font-size: 20px !important;
  display: flex;
  justify-content: flex-end;
  margin-left: 5%;
}

.searchInput {
  border: none;
  width: 100%;
  text-align: center;
  margin-right: 10%;
}

.searchInput:focus {
  outline: none;
}

#clearBtn {
  cursor: pointer;
}

.categoriesWrapper {
  display: flex;
  justify-content: flex-end;
}
.categorieLabel {
  flex-direction: column;
  border: none;
  color: black;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.categoriesOption {
  width: 60px;
}

.noConversationText {
  margin-top: 10%;
  font-size: 300%;
  color: rgb(224, 220, 220);
  cursor: default;
}

@media screen and (max-width: 480px) {
  .feed {
    width: 80%;
    margin: 5% 0 0 10%;
  }
  .searchbar {
    width: 90%;
    margin: 0 auto;
    height: 30px;
    background-color: white;
    border: solid 3px teal;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 10px;
  }
}
