.listContainer {
  display: flex;
  margin-left: 30px;
}
.listWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}

.listTitleFollowings {
  margin-bottom: 20px;
  background-color: rgb(9, 75, 218);
  border-radius: 25px;
  max-width: 150px;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.listTitleFollowers {
  margin-bottom: 20px;
  background-color: rgb(6, 155, 63);
  border-radius: 25px;
  max-width: 150px;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.listFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.listInfo {
  margin-bottom: 30px;
}

.listInfoItem {
  margin-bottom: 10px;
}

.listInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.listInfoValue {
  font-weight: 300;
}

.listFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.listFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}
.listFollowingWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.listFollowingImg {
  width: 90px;
  height: 90px;
  margin-top: 15px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid;
  border-color: rgb(9, 75, 218);
}

.listFollowingName {
  margin: 0;
  text-decoration: none;
  color: rgb(9, 75, 218);
}

.listFollowersImg {
  width: 90px;
  height: 90px;
  margin-top: 15px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid;
  border-color: rgb(6, 155, 63);
}

.listFollowersName {
  margin: 0;
  text-decoration: none;
  color: rgb(6, 155, 63);
}

@media screen and (max-width: 480px) {
  .listWrapper {
    margin-right: 10%;
  }
  .listTitleFollowings {
    font-size: 12px;
  }
  .listTitleFollowers {
    font-size: 12px;
  }
}
