.listContainer {
  flex: 7;
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}
.listWrapper {
  flex: 3.5;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.listTitle {
  margin-bottom: 20px;
  background-color: teal;
  border-radius: 25px;
  max-width: 150px;
  padding: 10px;
  color: white;
  text-align: center;
}

.listFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.listTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.listInfo {
  margin-bottom: 30px;
}

.listInfoItem {
  margin-bottom: 10px;
}

.listInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.listInfoValue {
  font-weight: 300;
}

.listFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.listFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}
.listFollowingWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.listFollowingImg {
  width: 100px;
  height: 100px;
  margin-top: 15px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid;
  border-color: rgb(2, 61, 31);
}
.listFollowingName {
  margin: 0;
  text-decoration: none;
  color: rgb(2, 61, 31);
}

.listFollowButton {
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: #1872f2;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.listFollowButton:focus {
  outline: none;
}
